@font-face {
  font-family: "calculator-font";
  src: url(fonts/digital-7.regular.ttf);
}

.calculator_body {
  background-color: #d2dee5;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin: auto;
  padding: 25px 15px;
  border-radius: 10px;
  border: 2px ridge #b8cdd6;
}

#screen,
#memory-screen {
  font-family: "calculator-font", monospace;
  grid-column: span 5;
}

#screen {
  font-size: 24px;
  text-align: right;
  margin: 5px 4px;
  margin-bottom: 20px;
  padding: 5px;
  padding-top: 20px;
  background-color: #ececed;
  border: 2px solid #bbbcbf;
  border-radius: 10px;
}

#memory-screen {
  font-size: 8px;
  background: none;
  text-align: right;
  margin: 5px 4px;
  margin-bottom: -22px;
  padding-right: 8px;
  border: none;
  border-bottom: 1px solid #bbbcbf;
  z-index: 1;
}

img {
  height: 8px;
}

.plus {
  grid-row: span 2;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(5, 43px);
}

button {
  padding: 7px 0px;
  margin: 3px;
  border-radius: 30px;
  font-family: "Nunito";
}

button {
  background-color: #ececed;
  border: 2px outset #bbbcbf;
}

button[data-type="number"] {
  background-color: #496e80;
  color: white;
  border: 2px outset #3c5968;
}

button[data-type="result"] {
  background-color: #fccfd5;
  border: 2px outset #fbb7c1;
}
